<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scroll practice</title>
    <script>
      window.onscroll = function () {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
          document.querySelector("body").style.backgroundColor = "black";
          document.querySelector("body").style.color = "#f4f4f4";
        } else {
          document.querySelector("body").style.backgroundColor = "white";
          document.querySelector("body").style.color = "black";
        }
      };
    </script>
  </head>
  <body>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>2</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>3</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>4</p>
    <p>END</p>
  </body>
</html>
